<h1>ХОРОШИЕ ВРАЧИ СТАЛИ ДОСТУПНЕЙ</h1>
<div style="font-size: 25px;">DocDoc.ru — это сервис по поиску врачей. Мы стремимся помочь людям оперативно найти
    хорошего доктора и записаться к нему на приём. Для этого мы создали базу врачей, собираем отзывы у пациентов после
    приёма и публикуем их на сайте. Мы предоставляем максимально подробную информацию о специалисте (опыт, квалификация,
    специализация, расписание), которая формирует его рейтинг.</div>