<h1>ЗАБОТИМСЯ О ГЛАВНОМ</h1>
<div style="font-size: 25px;">
    Основная задача нашего сервиса – сделать процесс записи к врачу максимально прозрачным, удобным и быстрым, чтобы вы
    могли в любое время получить качественную медицинскую помощь. 4 668 700 записей на прием произошло с помощью DocDoc.
    Позаботьтесь о своём здоровье вместе с нами!</div>